/* Classes com escopo local (funciona somente no componente)*/
.luz{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.vermelho{
    background-color: red;
}
.amarelo{
    background-color: yellow;
}
.verde{
    background-color: green;
}
.cinza{
    background-color: gray;
}
.laranja{
    background-color: orange;
}